# 0. Carregando bibliotecas e dados

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('datasets/kc_house_data.csv')

# 2. Exercícios

## 2.1 Crie uma nova coluna chamada: “house_age”
#### - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
#### - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [ ]:
data['house_age'] = 'string'
data.loc[data['date'] >= '2014-01-01', 'house_age'] = 'new_house'
data.loc[data['date'] < '2014-01-01', 'house_age'] = 'old_house'

#De acordo com essas especificações não há casas classificadas como old

## 4.2 Crie uma nova coluna chamada: “dormitory_type”
####      Se o valor da coluna “bedrooms” for menor ou igual a 1 => ‘studio’
####      Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
####      Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [ ]:
data['dormitory_type'] = 'string'
data.loc[data['bedrooms'] <= 1, 'dormitory_type'] = 'studio'
data.loc[data['bedrooms'] == 2, 'dormitory_type'] = 'apartment'
data.loc[data['bedrooms'] > 2, 'dormitory_type'] = 'house'

## 4.3 Crie uma nova coluna chamada: “condition_type”
####  Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
####  Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
####  Se o valor da coluna “condition” for igual à 5 => ‘good’

In [ ]:
data['condition_type'] = 'string'
data.loc[data['condition'] <= 2, 'condition_type'] = 'bad'
data.loc[(data['condition'] == 3) | (data['condition'] == 4), 'condition_type'] = 'regular'
data.loc[data['condition'] >= 5, 'condition_type'] = 'good'

data

#Referência: https://www.ti-enxame.com/pt/python/usando-condicional-para-gerar-nova-coluna-no-dataframe-do-pandas/1050698416/

## 4.4 Modifique o TIPO da coluna “condition” para STRING

In [ ]:
data['condition'] = data['condition'].astype(str)
data.dtypes

## 4.5 Delete as colunas: “sqft_living15” e “sqft_lot15”

In [ ]:
print( data.columns )
data = data.drop('sqft_living15', axis=1)
print( data.columns )
data = data.drop('sqft_lot15', axis=1)
print( data.columns.to_list())

## 4.6 Modifique o TIPO da coluna “yr_built” para DATE

In [ ]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )
data.head()

## 4.7 Modifique o TIPO a Coluna “yr_renovated” para DATE (deu ruim)

In [21]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: 1800 if x == 1500 else x) 
data['yr_renovated'] = pd.to_datetime( data['yr_renovated'], format='%Y' )
data.dtypes()

#https://datatofish.com/if-condition-in-pandas-dataframe/
#https://www.analyticsvidhya.com/blog/2020/03/what-are-lambda-functions-in-python/

## 4.8 Qual a data mais antiga de construção de um imóvel?

#### R:  2014-05-02

In [ ]:
data.sort_values('date', ascending=True)

## 4.8 Qual a data mais antiga de renovação de um imóvel?

#### R:  1934

In [33]:
data.loc[data['yr_renovated'] != '1800-01-01'].sort_values('yr_renovated', ascending=True).head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
13736,4475800065,20140613T000000,459950.0,3,1.75,1850,6869,1.0,0,2,...,1100.0,750,1919-01-01,1934-01-01,98166,47.4648,-122.363,new_house,house,good

In [ ]:
data.dtypes

# Links Úteis

### Documentação do pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html