# 0. Carregando bibliotecas e dados

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('datasets/kc_house_data.csv')

# 2. Exercícios

## 2.1 Crie uma nova coluna chamada: “house_age”
#### - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
#### - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [ ]:
data['house_age'] = 'string'
data.loc[data['date'] >= '2014-01-01', 'house_age'] = 'new_house'
data.loc[data['date'] < '2014-01-01', 'house_age'] = 'old_house'

#De acordo com essas especificações não há casas classificadas como old

## 4.2 Crie uma nova coluna chamada: “dormitory_type”
####      Se o valor da coluna “bedrooms” for menor ou igual a 1 => ‘studio’
####      Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
####      Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [ ]:
data['dormitory_type'] = 'string'
data.loc[data['bedrooms'] <= 1, 'dormitory_type'] = 'studio'
data.loc[data['bedrooms'] == 2, 'dormitory_type'] = 'apartment'
data.loc[data['bedrooms'] > 2, 'dormitory_type'] = 'house'

## 4.3 Crie uma nova coluna chamada: “condition_type”
####  Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
####  Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
####  Se o valor da coluna “condition” for igual à 5 => ‘good’

In [ ]:
data['condition_type'] = 'string'
data.loc[data['condition'] <= 2, 'condition_type'] = 'bad'
data.loc[(data['condition'] == 3) | (data['condition'] == 4), 'condition_type'] = 'regular'
data.loc[data['condition'] >= 5, 'condition_type'] = 'good'

data

#Referência: https://www.ti-enxame.com/pt/python/usando-condicional-para-gerar-nova-coluna-no-dataframe-do-pandas/1050698416/

## 4.4 Modifique o TIPO da coluna “condition” para STRING

In [ ]:
data['condition'] = data['condition'].astype(str)
data.dtypes

## 4.5 Delete as colunas: “sqft_living15” e “sqft_lot15”

In [ ]:
print( data.columns )
data = data.drop('sqft_living15', axis=1)
print( data.columns )
data = data.drop('sqft_lot15', axis=1)
print( data.columns.to_list())

In [ ]:
data.head()

## 4.6 Modifique o TIPO da coluna “yr_built” para DATE

In [ ]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )
data.head()

## 4.7 Modifique o TIPO a Coluna “yr_renovated” para DATE (deu ruim)

In [41]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [42]:
data[['yr_renovated']].head()

   yr_renovated
0             0
1          1991
2             0
3             0
4             0

In [35]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [47]:
data['yr_renovated'] = data['yr_renovated'].apply(lambda x: str(data['yr_renovated']).replace('0', '1'))
data.head()

#https://datatofish.com/if-condition-in-pandas-dataframe/

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,1 1111 1111\n1 1991\n2...,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1 1111 1111\n1 1991\n2...,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,1 1111 1111\n1 1991\n2...,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,1 1111 1111\n1 1991\n2...,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,1 1111 1111\n1 1991\n2...,98074,47.6168,-122.045,1800,7503

## 4.8 Qual a data mais antiga de construção de um imóvel?

#### R:  2014-05-02

In [ ]:
data.sort_values('date', ascending=True)

## 4.8 Qual a data mais antiga de renovação de um imóvel?

#### R:  2014-05-02

In [ ]:
data.loc[data['yr_renovated'] != '1970-01-01'].sort_values('yr_renovated', ascending=True).head()

In [ ]:
data.dtypes

# Links Úteis

### Documentação do pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html