# 0. Carregando bibliotecas e dados

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
#Foram adicionados por conta de erro de renderização no mapa (ex20), utilizando o VS Code. Caso sua IDE não tenha o erro, não é necessário
#Erro: No renderer could be found for mimetype "application/vnd.plotly.v1+json"
import plotly.io as pio
pio.renderers.default = "notebook_connected"

In [ ]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [ ]:
data

# 1. Analisando os tipos de dados do conjunto

## 1.1 Mostra na tela os tipos de variáveis do conjunto

In [ ]:
data.dtypes

## 1.2 Converção de variáveis

### O pandas lê data e não classifica como tipo "date" e sim "object", isso pode influenciar em manipulações futuras com o atributo date.

In [ ]:
# Antes da conversão
data['date']

In [ ]:
#Converter o tipo de dado da coluna "date" para o tipo data
data['date'] = pd.to_datetime( data['date'] )
data['date']

### Converter outros tipos de dados

In [ ]:
# Converter outros tipos de dados
#Inteiro -> Float
data['bedrooms'] = data['bedrooms'].astype( float )
print( data[['id', 'bedrooms']].head() )
print( data[['bedrooms']].dtypes )

In [ ]:
#Float -> Inteiro
data['bedrooms'] = data['bedrooms'].astype( int )
print( data[['id', 'bedrooms']].head() )
print( data[['bedrooms']].dtypes )

In [ ]:
#No caso acima a conversão ficou int32, daí temos que deixar em int64, porque os outros ints estão como 64 e não dá ceto comprar um int32 com um int64
#A função que converte para int64 vem da biblioteca numpy
##Int32 -> Int64
data['bedrooms'] = data['bedrooms'].astype( np.int64 )
print( data[['id', 'bedrooms']].head() )
print( data[['bedrooms']].dtypes )

In [ ]:
#Inteiro -> String
data['bedrooms'] = data['bedrooms'].astype( str )
print( data[['id', 'bedrooms']].head() )
print( data[['bedrooms']].dtypes )

In [ ]:
#String -> Inteiro
data['bedrooms'] = data['bedrooms'].astype( np.int64 )
print( data[['id', 'bedrooms']].head() )
print( data[['bedrooms']].dtypes )

In [ ]:
#Inteiro -> Data
data['date'] = pd.to_datetime( data['date'] )
print( data[['id', 'date']].head() )
print( data[['date']].dtypes )

# 2. Manipulando os dados

## 2.1 Criar variáveis

In [ ]:
#Cria uma nova coluna e popula com uma string
data['nome_luci'] = "Luciana"
print( data.columns )

#Cria novas colunas com novos tipos de dados 
data['idade'] = 11
data['data_string'] = '2021-10-06'
data['data_date'] = pd.to_datetime( '2021-10-06' )
#Mostra na tela as colunas criadas e o tipo de dados do conjunto
print( data[[ 'id',  'idade', 'data_string', 'data_date']] )
print( data.dtypes )

## 2.2 Deletar uma coluna

In [ ]:
# Mostra o dataset antes do drop
print ( data.columns )
#Retira a coluna "nome_luci"
data = data.drop ( 'nome_luci', axis=1 )
#Mostra o dataset sem a coluna
print ( data.columns )

## 2.2.1 Deletar várias colunas (primeiro modo)

In [ ]:
# Mostra o dataset antes do drop
print ( data.columns )
#Retira a coluna "nome_luci"
data = data.drop ( ['idade', 'data_date'], axis=1 )
#Mostra o dataset sem a coluna
print ( data.columns )

## 2.2.2 Deletar várias colunas (segundo modo)

In [ ]:
# Mostra o dataset antes do drop
print ( data.columns )
#Retira a coluna "nome_luci"
col = ['idade', 'data_date']
data = data.drop (col , axis=1 )
#Mostra o dataset sem a coluna
print ( data.columns )

## 2.3 Seleção de dados
### Existem quatro formas de selecionar dados 
-  direto pelo nome das colunas 
-  pelos índices das linhas e das colunas , 
-  pelos índices das linhas e nome das colunas
-  pelos índices booleanos

## 2.3.1 Selecionar dados direto pelo nome das colunas

In [ ]:
# Seleciona uma única variável
print( data['price'] )
# Seleciona uma lista de variáveis
print( data[[ 'id','price','date' ]] )

#Na seleção de n variáveis, o duplo colchetes é necessário porque é passado uma lista de variáveis.

## 2.3.2 Selecionar dados pelos índices das linhas e das colunas
#### Sintaxe: <nome_do_dataframe>.iloc[linhas, colunas]

In [ ]:
# Selecionar uma parte das linhas e colunas
data.iloc[0:10, 0:3]

In [ ]:
# Selecionar todas as linhas e parte das colunas
data.iloc[:, 0:3]

In [ ]:
# Selecionar parte das linhas e todas as colunas

data.iloc[0:5, :]

## 2.3.3 Selecionar dados pelos índices das linhas e nome das colunas
#### Sintaxe: <nome_do_dataframe>.loc[linhas, colunas]

In [ ]:
# Selecionar uma parte das linhas e colunas
data.loc[0:10, ['id', 'price']]

## 2.3.4 Selecionar dados pelos índices booleanos
- Índices booleanos: True ou False
- Coloca "True" para as colunas que serão selecionadas e "False" para as que não serão
- Todas as colunas devem ter valor True ou False

In [ ]:
col = [True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False,False]

data.loc[0:10, col]

# 3. Respondendo as perguntas de negócio

## 3.1 Qual a data do imóvel mais antigo?
### R: 2014-05-02

In [ ]:
data['date'] = pd.to_datetime( data['date'] )

data.sort_values('date', ascending = True)

## 3.2 Quantos imóveis possuem o número máximo de andares?
### R: 8 imóveis

In [ ]:
len ( data[data['floors'] == 3.5] )

## 3.3 Classifique os imóveis em baixo e alto padrão de acordo com o preço
- => R$ 540.000 -> alto padrão (high_standard)
- < R$ 540.000 -> alto padrão (low_standard)

In [ ]:
# 1) Criar uma coluna com valor standard
data['level'] = 'standard'

# 2) Selecionar as casas cujo valor é >= 540.000 e mudar valor de standard para high level
data.loc[data['price'] >= 540000, 'level'] = 'high_standard'

# 3) Selecionar as casas cujo valor é >= 540.000 e mudar valor de standard para low level
data.loc[data['price'] < 540000, 'level'] = 'low_standard'

# Mostra id e level na tela
data[['id', 'level']]

## 3.4 Gerar um relatório ordenado pelo preço com as seguintes informações: id, data, número de quartos, tamanho total do terreno, preço, classificação do imóvel

### Modo 1 
#### Esse modo é melhor caso a coluna price não precisasse aparecer na tela

In [ ]:
report1 = data.sort_values('price', ascending = False)[['id','date', 'bedrooms', 'sqft_lot', 'price', 'level']]

### Modo 2
#### Nesse modo, a coluna price tem que aparecer na lista das variáveis, se não ocorre erro

In [ ]:
report2 = data[['id','date', 'bedrooms', 'sqft_lot', 'price' ,'level']].sort_values( 'price', ascending = False )

### Salvar o dataset em CSV

In [ ]:
report1.to_csv( 'datasets/reportCEO_aula2_modo1.csv', index = False)
report2.to_csv( 'datasets/reportCEO_aula2_modo2.csv', index = False)

#Index False para resetar os índices antes de salvar

## 3.5 Criar um mapa indicando onde as casas estão localizadas

In [ ]:
data_mapa = data[['id', 'lat', 'long', 'price']]

mapa = px.scatter_mapbox( data_mapa,
                          lat = 'lat',
                          lon = 'long' ,
                          hover_name = 'id',
                          hover_data = ['price'], #aqui passa como lista por exigÊncia da função
                          color_discrete_sequence = ['fuchsia'],
                          zoom = 8,
                          height = 300 )

mapa.update_layout( mapbox_style = 'open-street-map' )
mapa.update_layout( height=600, margin = {'r':0, 't':0, 'l':0, 'b':0} )
mapa.show()

In [ ]:
#Salvar essa imagem em HTML
mapa.write_html('datasets/msps_house_rocket.html')

# 4. Exercícios

## 4.1 Crie uma nova coluna chamada: “house_age”
 - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
 - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [ ]:
data['house_age'] = 'string'
data.loc[data['date'] >= '2014-01-01', 'house_age'] = 'new_house'
data.loc[data['date'] < '2014-01-01', 'house_age'] = 'old_house'

#De acordo com essas especificações não há casas classificadas como old

#### Outra forma mais sofisticada

In [ ]:
data['house_age'] = data['date'].apply( lambda x: 'new_house' if x >= '2014-01-01' else 'old_house' )

#### Caso dê erro porque não há como comprara data e string, converta a data para string e volte a coluna "date" para formato de data

In [ ]:
data['date'] = data['date'].astype( str )
data['house_age'] = data['date'].apply( lambda x: 'new_house' if x >= '2014-01-01' else 'old_house' )
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

## 4.2 Crie uma nova coluna chamada: “dormitory_type”
- Se o valor da coluna “bedrooms” for igual a 1 => ‘studio’
- Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
- Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [ ]:
data['dormitory_type'] = 'string'
data.loc[data['bedrooms'] <= 1, 'dormitory_type'] = 'studio'
data.loc[data['bedrooms'] == 2, 'dormitory_type'] = 'apartment'
data.loc[data['bedrooms'] > 2, 'dormitory_type'] = 'house'

#### Outra forma (com lambda apply)

In [ ]:
data['dormitory_type'] = data['bedrooms'].apply( lambda dorm: 'studio' if dorm == 1 else
                                                              'apartment' if dorm==2 else 
                                                              'house' if dorm > 2 else
                                                              'NA')
                                                              
#https://stackoverflow.com/questions/44991438/lambda-including-if-elif-else

#### Outra forma (np.where)

In [ ]:
data['dormitory_type'] = np.where( data['bedrooms'] == 1 , 'studio',
                            np.where(data['bedrooms'] ==2, 'apartment',
                                np.where(data['bedrooms'] > 2, 'house', 'NA')
                            ) 
                         )

In [ ]:
data

## 4.3 Crie uma nova coluna chamada: “condition_type”
-  Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
-  Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
-  Se o valor da coluna “condition” for igual à 5 => ‘good’

In [ ]:
data['condition_type'] = 'string'
data.loc[data['condition'] <= 2, 'condition_type'] = 'bad'
data.loc[(data['condition'] == 3) | (data['condition'] == 4), 'condition_type'] = 'regular'
data.loc[data['condition'] >= 5, 'condition_type'] = 'good'

data

#Referência: https://www.ti-enxame.com/pt/python/usando-condicional-para-gerar-nova-coluna-no-dataframe-do-pandas/1050698416/

## 4.4 Modifique o TIPO da coluna “condition” para STRING

In [ ]:
data['condition'] = data['condition'].astype(str)
data.dtypes

## 4.5 Delete as colunas: “sqft_living15” e “sqft_lot15”

In [ ]:
print( data.columns )
data = data.drop('sqft_living15', axis=1)
print( data.columns )
data = data.drop('sqft_lot15', axis=1)
print( data.columns.to_list())

## 4.6 Modifique o TIPO da coluna “yr_built” para DATE

In [ ]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )
data.head()

## 4.7 Modifique o TIPO a Coluna “yr_renovated” para DATE

In [ ]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: 1800 if x == 0 else x) 
data['yr_renovated'] = pd.to_datetime( data['yr_renovated'], format='%Y' )
data.dtypes

#Apply faz a aplicação de uma função linha a linha
#https://datatofish.com/if-condition-in-pandas-dataframe/
#https://www.analyticsvidhya.com/blog/2020/03/what-are-lambda-functions-in-python/

In [ ]:
data.head()

## 4.8 Qual a data mais antiga de construção de um imóvel?

#### R:  2014-05-02

In [ ]:
data.sort_values('date', ascending=True)

## 4.9 Qual a data mais antiga de renovação de um imóvel?

#### R:  1934

In [ ]:
data.loc[data['yr_renovated'] != '1800-01-01'].sort_values('yr_renovated', ascending=True).head(1)

## 4.10 Quantos imóveis tem 2 andares?

#### R:  8241

In [ ]:
data.loc[data['floors'] == 2, 'id'].count()

## 4.11. Quantos imóveis estão com a condição igual a “regular” ?

#### R:  19710

In [ ]:
data.loc[data['condition_type'] == 'regular', 'id'].count()

## 4.12 Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

#### R: 2

In [ ]:
data.loc[ (data['condition_type'] == 'bad') & (data['waterfront'] == 1) , 'id' ].count()

## 4.13 Quantos imóveis estão com a condição igual a “good” e são “new_house”?

#### R: 1701

In [ ]:
data.loc[ (data['condition_type'] == 'good') & (data['house_age'] == 'new_house') , 'id' ].count()

## 4.14 Qual o valor do imóvel mais caro do tipo “studio” ?

#### R: R$ 1295650.0

In [ ]:
data.loc[ data['dormitory_type'] == 'studio' ].groupby('dormitory_type')['price'].max()

## 4.15 Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

#### R:

In [ ]:
data.loc[ (data['dormitory_type'] == 'apartment') & (data['yr_renovated'] == '2015-01-01') , 'id'].count()

## 4.16 Qual o maior número de quartos que um imóveis do tipo “house” possui ?
#### R:

In [ ]:
data.loc[ data['dormitory_type'] == 'house' ].groupby('dormitory_type')['bedrooms'].max()

## 4.17 Quantos imóveis “new_house” foram reformados no ano de 2014?

#### R:

In [ ]:
data.loc[ (data['dormitory_type'] == 'new_house') & (data['yr_renovated'] == '2014-01-01') , 'id' ].count()

## 4.18 Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
- Direto pelo nome das colunas.
- Pelos Índices.
- Pelos Índices das linhas e o nome das colunas
- Índices Booleanos

In [ ]:
data[['id', 'date', 'price', 'floors', 'zipcode']].head()

In [ ]:
data.iloc[0:5, [0, 1, 2, 7, 16]]

In [ ]:
data.loc[0:, ['id', 'date', 'price', 'floors', 'zipcode']]

In [ ]:
col = [True, True, True, False, False, False, False, True, False, False, False, False, False, False, False, False, True, False,  False, False, False, False]
data.loc[0:5, col]

## 4.19 Salve um arquivo .csv com somente as colunas do item 10 ao 17.

#### R:

In [ ]:
report_exercicios_aula2 = data.iloc[ : , [0, 1, 2, 7, 16]]
report_exercicios_aula2.to_csv('datasets/report_exercicios_aula2..csv', index=False)

## 4.20 Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

#### R:

In [ ]:
data_mapa = data[['id', 'lat', 'long', 'price']]

mapa = px.scatter_mapbox( data_mapa,
                          lat = 'lat',
                          lon = 'long' ,
                          hover_name = 'id',
                          hover_data = ['price'], #aqui passa como lista por exigÊncia da função
                          color_discrete_sequence = ['green'],
                          zoom = 8,
                          height = 300 )

mapa.update_layout( mapbox_style = 'open-street-map' )
mapa.update_layout( height=600, margin = {'r':0, 't':0, 'l':0, 'b':0} )

# Links Úteis

### Documentação do pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html