# 0. Carregando os dados e bibliotecas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('datasets/kc_house_data.csv')

# Exercícios

## 1. Quantas casas estão disponíveis para compra?
### R: 21 613 casas

In [ ]:
#Primeiro modo:
#Estratégia:
# Usar o método shape
# A propriedade shape retorna respectivamente a quantidade de linhas e colunas do conjunto de dados
#Sendo assim, o total de itens (casas) à venda corresponde ao total de linhas, 21 613.

#data.shape



# Segundo modo
# Estratégia:
# 1º) Selecionar apenas os IDs distintos
# 2º Contar esses IDs

total_casas = len (data['id'].unique()) 
total_casas

## 2.Quantos atributos as casas possuem?
### R: 21 atributos

In [ ]:
data.shape

# A propriedade shape retorna respectivamente a quantidade de linhas e colunas do conjunto de dados
#Sendo assim, o total de atributos das casas corresponde a 21

## 3.Quais são os atributos das casas?
### R: listado no resultado abaixo

In [ ]:
print( data.columns )

#Para converter a série do resultado em lista, pode-se usar o tolist

v_tolist = data.columns

v_tolist.tolist()

## 4.Qual a casa mais cara ( casa com o maior valor de venda )?
### R: A casa de ID 6762700020	com o custo de  7.700.000

In [ ]:
#Mostra o conjunto de dados ordenado pela coluna price do maior para o menor
data[['id','price']].sort_values('price', ascending = False )


#Se pedisse apenas o valor da casa mais cara:
#data[['price']].max()

## 5.Qual a casa com o maior número de quartos?
### R: A casa de ID 2402100895	com 33 quartos

In [ ]:
#Mostra o conjunto de dados ordenado pela coluna price do maior para o menor
data[['id','bedrooms']].sort_values('bedrooms', ascending = False )

## 6.Qual a soma total de quartos do conjunto de dados?
### R: Total de 72.854 quartos

In [ ]:
#Mostra o conjunto de dados ordenado pela coluna price do maior para o menor
data[['bedrooms']].sum()

## 7.Quantas casas possuem 2 banheiros?
### R: Total de 72.854 quartos

In [ ]:
# Primeiro modo

# 1. cria uma variável para filtrar apenas as casas com dois banheiros
#data_mask = data['bathrooms'] == 2
# 2 mostra o conjunto de dados filtrado de acordo com a variável
#df_filtrado = data[data_mask]
#print(df_filtrado[['bathrooms']].count())


#Segundo modo (mais simples)
(data[['bathrooms']] == 2).sum()

## 8.Qual o preço médio de todas as casas no conjunto de dados?
### R: Em média 540.088,14

In [ ]:
# Calcula a média da coluna price

media_preco = data[['price']].mean()

media_preco


## 9.Qual o preço médio de casas com 2 banheiros?
### R: Em média  457.889,7

In [26]:
# Primeiro modo
#estratégia:

# 1) cria uma variável para filtrar apenas as casas com dois banheiros
data_mask = data['bathrooms'] == 2
# 2) mostra a média do conjunto de dados filtrado de acordo com a variável
df_filtrado = data[data_mask].mean()
df_filtrado

id               4.586917e+09
price            4.578897e+05
bedrooms         3.308808e+00
bathrooms        2.000000e+00
sqft_living      1.796669e+03
sqft_lot         1.422794e+04
floors           1.290674e+00
waterfront       2.590674e-03
view             1.611399e-01
condition        3.578756e+00
grade            7.240933e+00
sqft_above       1.491026e+03
sqft_basement    3.056430e+02
yr_built         1.961255e+03
yr_renovated     1.456943e+02
zipcode          9.808370e+04
lat              4.755655e+01
long            -1.222334e+02
sqft_living15    1.736833e+03
sqft_lot15       1.204489e+04
dtype: float64

## 10.Qual o preço mínimo entre as casas com 3 quartos?
### R: 82.000

In [28]:
# Primeiro modo
#estratégia:

# 1) cria uma variável para filtrar apenas as casas com três quartos
data_mask = data['bedrooms'] == 3
# 2) mostra o mínimo valor do conjunto de dados filtrado de acordo com a variável 
df_filtrado = data[data_mask].min()
df_filtrado

id                       1200021
date             20140502T000000
price                      82000
bedrooms                       3
bathrooms                   0.75
sqft_living                  490
sqft_lot                     572
floors                         1
waterfront                     0
view                           0
condition                      1
grade                          4
sqft_above                   490
sqft_basement                  0
yr_built                    1900
yr_renovated                   0
zipcode                    98001
lat                      47.1559
long                    -122.519
sqft_living15                399
sqft_lot15                   651
dtype: object

## 11.Quantas casas possuem mais de 300 metros quadrados na sala de estar?
### R: 21.612

In [29]:
# Primeiro modo
#estratégia:

# 1) cria uma variável para filtrar apenas as casas com mais de 300m²
data_mask = data['sqft_living'] > 300
# 2) mostra a contagem do valor do conjunto de dados filtrado de acordo com a variável 
df_filtrado = data[data_mask].count()
df_filtrado

id               21612
date             21612
price            21612
bedrooms         21612
bathrooms        21612
sqft_living      21612
sqft_lot         21612
floors           21612
waterfront       21612
view             21612
condition        21612
grade            21612
sqft_above       21610
sqft_basement    21612
yr_built         21612
yr_renovated     21612
zipcode          21612
lat              21612
long             21612
sqft_living15    21612
sqft_lot15       21612
dtype: int64

## EM RESOLUÇÃO. Não entendi pq tem que usar o sum

## 12.Quantas casas tem mais de 2 andares?
### R: Em média 540.088,14

In [34]:
(data['floors'] > 2 ).sum()

782

## 13.Quantas casas tem vista para o mar?
### R: Em média 163

In [47]:
data['waterfront'].sum()
#Por ser um atributo do tipo booleano, usei SUM

163

## 14.Das casas com vista para o mar, quantas tem 3 quartos?
### R: 64 casas

In [52]:
data_mask = data[(data['waterfront'] == 1) & (data['bedrooms'] == 3)]
data_mask['id'].count()

64

## 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?
### R: 11242 casas

In [53]:
data_mask = data[ (data['sqft_living'] > 300) & (data['bathrooms'] > 2)]
data_mask['id'].count()

11242

# Links Úteis

### Documentação do pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html